
/* ---------- Fonts ---------- */
@font-face {
    font-family: Manifesto;
}

/* ---------- Navbar ---------- */
.navbar-custom {
    font-family: Manifesto;
}

/* ---------- Add Alarm Modal ---------- */
.modal {
    margin-top: 15%;
}