
/* ---------- Fonts ---------- */
@font-face {
    font-family: Manifesto;
}

/* ---------- Navbar ---------- */
.navbar-custom {
    font-family: Manifesto;
}

/* ---------- Add Alarm Modal ---------- */
.modal {
    margin-top: 15%;
}

/* ---------- Add Alarm List and Button ---------- */
#add-alarm-button {
    float : right;
}

#add-alarm-button-image {
    width: 20px;
    height: 20px;
}

#alarm-block {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-primary-transparent {
    background-color: transparent;
    border-color: transparent;
}

#alarm-header {
    padding-left: 8px;
}

.label {
    margin-right: 4px;
}

.alarmListX {

}